---
interface Props {
	theme: 'dark' | 'light';
	text: string;
	href: string;
}
const { theme, text, href } = Astro.props;
---

<a href={href} class:list={theme === 'dark' ? 'dark' : 'white'}> {text}</a>

<style scoped>
	a {
		min-height: 3.5rem;
		min-width: 9.5rem;
		padding: 16px 25px;
		border-radius: var(--border-radius);
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: var(--font-weight-500);
		transition: 0.3s;
		&:hover {
			background-color: var(--color-secondary-peach-light);
		}
	}

	.dark {
		background-color: var(--color-primary-white);
		color: var(--color-primary-black);
	}
	.white {
		background-color: var(--color-primary-peach);
		color: var(--color-primary-white);
	}
</style>
