@import '_sanitize.css';
@import 'variables.css';

@font-face {
	font-family: 'Jost';
	src: url('/fonts/Jost.ttf') format('truetype');
}
html {
	font-family: 'Jost', sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
	line-height: 27px;
	font-weight: var(--font-weight-400);
}
body {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden auto;
	background-color: var(--color-primary-white);
	color: var(--color-secondary-grey-dark);
}

.container {
	width: 100%;
	margin-inline: auto;
	@media (--size-md) {
		max-width: 43.125rem;
	}
	@media (--size-lg) {
		max-width: 69.375rem;
	}
}
h1,
.h1 {
	font-size: 2rem;
	line-height: 2.25rem;
	font-weight: var(--font-weight-500);
	@media (--size-md) {
		font-size: 3rem;
		line-height: 3rem;
	}
}
h2,
.h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: 0.125rem;
	font-weight: var(--font-weight-500);
}
h3,
.h3 {
	font-size: 1.25rem;
	line-height: 1.625rem;
	letter-spacing: 0.3125rem;
	font-weight: var(--font-weight-500);
}
p,
body,
.p {
	font-size: 15px;
	line-height: 25px;
	font-weight: var(--font-weight-400);
	@media (--size-md) {
		font-size: 1rem;
		line-height: 1.625rem;
	}
}
