@custom-media --device-phone (width <= 575px);
@custom-media --device-tablet (576px<= width <= 767px);
@custom-media --device-laptop (768px <= width <= 1199px);
@custom-media --device-desktop (1200px <= width <= 1920px);
@custom-media --device-tv (width >= 1920px);

@custom-media --size-sm (576px <=width);
@custom-media --size-md (768px <=width);
@custom-media --size-lg (1200px <=width);
@custom-media --size-xl (1920px <=width);

@define-mixin light-theme {
	--color-primary-peach: rgb(231, 129, 107);
	--color-primary-black: rgb(29, 28, 30);
	--color-primary-white: rgb(255, 255, 255);
	--color-secondary-peach-light: rgb(255, 173, 155);
	--color-secondary-grey-dark: rgb(150, 150, 150);
	--color-secondary-grey-light: rgb(241, 243, 245);
}
/* custom css variables can only be stored in :root or html because of postcss */
html,
html[data-theme='light'] {
	@mixin light-theme;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--border-radius: 0.5rem;
}
