---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	description: string;
	path: string;
}
const { title, description, path } = Astro.props;
---

<article>
	<Image src={path} width={202} height={202} alt={title} />
	<div>
		<h1>{title}</h1>
		<p>{description}</p>
	</div>
</article>

<style scoped>
	article {
		color: var(--color-primary-black);
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 0 1.5rem;
		gap: 3rem;
		@media (--size-md) {
			flex-direction: row;
			padding: 0;
		}
		@media (--size-lg) {
			flex-direction: column;
		}
	}
	img {
		background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg');
		background-size: cover;
	}
	h1 {
		font-size: 1.25rem;
		line-height: 1.625rem;
		font-weight: var(--font-weight-500);
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	div {
		display: flex;
		flex-direction: column;
		@media (--size-md) {
			flex-direction: column;
			text-align: start;
		}
		@media (--size-lg) {
			text-align: center;
		}
	}
</style>
