---
import ProjectCard from '@/components/molecule/ProjectCard.astro';
import ProjectHero from '@/components/molecule/ProjectHero.astro';
import Projects from '@/components/organism/Projects.astro';
import Layout from '@/components/template/Layout.astro';
import { PROJECTS } from '@/data';
const title = 'Web Design';
const text =
	'We build websites that serve as powerful marketing tools and bring memorable brand experiences.';
const projects = [
	{
		name: 'EXPRESS',
		desc: 'A multi-carrier shipping website for ecommerce businesses',
		img: '/assets/web-design/desktop/image-express.jpg',
	},
	{
		name: 'TRANSFER',
		desc: 'Site for low-cost money transfers and sending money within seconds',
		img: '/assets/web-design/desktop/image-transfer.jpg',
	},
	{
		name: 'PHOTON',
		desc: 'A state-of-the-art music player with high-resolution audio and DSP effects',
		img: '/assets/web-design/desktop/image-photon.jpg',
	},
	{
		name: 'BUILDER',
		desc: 'Connects users with local contractors based on their location',
		img: '/assets/web-design/desktop/image-builder.jpg',
	},
	{
		name: 'BLOGR',
		desc: 'Blogr is a platform for creating an online blog or publication',
		img: '/assets/web-design/desktop/image-blogr.jpg',
	},
	{
		name: 'CAMP',
		desc: 'Get expert training in coding, data, design, and digital marketing',
		img: '/assets/web-design/desktop/image-camp.jpg',
	},
];
const appDesignProject = PROJECTS[1]!;
const graphicDesignProject = PROJECTS[2]!;
---

<Layout title={title}>
	<ProjectHero title={title} text={text} />
	<Projects projects={projects} />
	<section>
		<ProjectCard {...appDesignProject} /><ProjectCard
			{...graphicDesignProject}
		/>
	</section>
</Layout>

<style scoped>
	section {
		margin-top: 96px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (--size-lg) {
			width: 100%;

			flex-direction: row;
		}
	}
</style>
